body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
/* Header */

header{
	color: rgb(252, 193, 55);
	background-color: rgb(72, 140, 116);
}
h1{
	text-align: center;
}
/* Les Menus */
#conteneur{
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu_1, .menu_2, .menu_3, .menu_4{
	display: inline-block;
    width: 150px;
    border: 1px solid black;
}
.prochainement{
	border-radius: 35% solid black;
	background-color: rgb(72, 140, 116); 
    align-self: flex-end; 
}
	



